<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<div class='content has-text-centered'>
  <div class='field'>
    <h1 class='heading is-size-2 has-text-primary'>Costume Closet</h1>
  </div>
  <h2 class='heading is-size-4'>Enter email & password or
    <!-- Sign In via Google -->
    <button class='button is-primary is-outlined is-small'>
      <span class='icon'>
        <i class='fab fa-google'></i>
      </span>
      <%= sign_in_via_google(params[:user_type]) %>
    </button>
  </h2>
</div>
<%= render "form" %>
<%= cancel_button(root_path) %>