<div class="columns">
  <% @costumes.each do |costume| %>
    <div class="column">
    <% if !costume.picture.blank? %>
      <%= link_to image_tag(costume.picture, width: 100), costume_path(costume) %>
    <% elsif !costume.onepiece_description.blank? %>
      <%= link_to costume.onepiece_description, costume_path(costume) %>
    <% else %>
      <%= link_to costume.top_description + ' with ' + costume.bottoms_description, costume_path(costume) %>
    <% end %>
    </div>
  <% end %>
</div>