<div class='columns has-text-grey has-text-centered'>
  <!-- Genre -->
  <div class='column'>
    <h2 class='title heading is-size-5'>Genre</h2>
    <%= @shared_info.genre %>
  </div>
  <!-- hair accessory -->
  <div class='column'>
    <h2 class='title heading is-size-5'>Hair Accessory</h2>
    <%= @shared_info.hair_accessory %>
  </div>
  <!-- Shoes -->
  <div class='column'>
    <h2 class='title heading is-size-5'>Shoes</h2>
    <%= @shared_info.shoe %>
  </div>
  <!-- Tights -->
  <div class='column'>
    <h2 class='title heading is-size-5'>Tights</h2>
    <%= @shared_info.tight %>
  </div>
</div>