<div class='content has-text-centered'>
  <!-- costume picture/description -->
  <% if !@costume.picture.blank? %>
    <figure class='is-128x128'>
      <%= image_tag @costume.picture, width: 100 %>
    </figure>
  <% elsif !@costume.onepiece_description.blank? %>
    <%= @costume.onepiece_description %>
  <% else %>
    <%= @costume.twopiece_description %>
  <% end %>
  <!-- if costume assignment(s) exist, render table -->
  <% if @assignments.exists? %>
    <%= render 'costume_assignments/table' %>
  <% else %>
    <h2 class='subtitle'>No Assignments</h2>
  <% end %>
</div>