<div class='container is-fluid'>
  <div class='content'>
    <h1 class='title'><%= current_user.studio_name %> Costumes</h1>
  </div>
  <div class="columns">
    <% @costumes.each do |costume| %>
      <div class="column">
        <%= link_to image_tag(costume.picture, width: 100), dance_studio_costume_path(current_user.id, costume) %>
      </div>
    <% end %>
  </div>
</div>