<div class='content has-text-centered'>
  <h1 class='title has-text-primary'><%= @season %> Costume Assignments</h1>
  <!-- if dance studio has current costume assignments, render table -->
  <% if @assignments.exists? %>
    <%= render 'current_assignments_table' %>
  <% else %>
    <h2 class='subtitle'>No Costume Assignments For This Season</h2>
  <% end %>
</div>