<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<div class="content">
  <h1 class='title'>Update <%= current_user.studio_name %>'s Account Info</h1>
  <h3 class='subtitle is-size-6 has-text-danger'><u>Must enter password AND password confirmation to make changes</u></h3>
</div>
<%= render "form" %>