<div class='container is-fluid'>
  <h1 class='title has-text-primary'>Register for Costume Closet</h1>
  <h2 class='subtitle'>Fill out form below or <%= link_to 'Register via Google', "/auth/google_oauth2", class: 'button is-small is-info', method: :get %></h2>
  <%= render "form" %>
</div>