<div class='content has-text-centered'>
  <% if !@costume.picture.blank? %>
    <figure class="is-128x128">
      <%= image_tag @costume.picture, width: 100 %>
    </figure>
  <% elsif !@costume.onepiece_description.blank? %>
    <%= @costume.onepiece_description %>
  <% else %>
    <%= @costume.twopiece_description %>
  <% end %>
</div>
<!-- if costume assignment(s) exist, render table -->
<% if @costume_assignments.empty? %>
  <div class='content has-text-centered'>
    <h2 class='subtitle'>No Assignments</h2>
  </div>
<% else %>
  <%= render "table"%>
<% end %>