<div class='container is-fluid'>
  <div class='content has-text-centered'>
    <% if dancer? %>
        <h1 class='title has-text-primary'><%= current_user.name %>'s Costumes</h1>
    <% elsif @costume %>
      <section class='section'>
          <figure class='image is-96x96'>
            <%= link_to image_tag(@costume.picture, width: 100), costume_path(@costume) %>
          </figure>
      </section>
    <% else %>
        <% if @dancer %>
          <h1 class='title has-text-primary'><%= link_to @dancer.name + "'s Costumes", dancer_path(@dancer) %></h1>
        <% else %>
          <h1 class='title has-text-primary'>All Costume Assignments</h1>
        <% end %>
    <% end %>
  <%= render "table"%>
  </div>
</div>