<div class='container is-fluid'>
  <h1 class='title has-text-primary'>Register for Costume Closet</h1>
  <div class='box'>
    <% if @dance_studio %>
      <%= render "dance_studios/form" %>
    <% else %>
      <%= render "dancers/form" %>
    <% end %>
  </div>
</div>