<h1 class='title has-text-primary has-text-centered'>Register for Costume Closet</h1>
<% if @dancer %>
  <%= render "dancers/form" %>
<% else %>
  <%= render "dance_studios/form" %>
<% end %>
<%= link_to 'Cancel', root_path, class: 'button is-dark' %>