<div class='content has-text-centered'>
  <!-- display dancer's name for dance studio owner -->
  <% if owner? %>
    <h1 class='title has-text-primary'><%= full_name(@dancer) %>'s <%= current_year %> Costume Assignments</h1>
  <% else %>
      <h1 class='title has-text-primary'><%= current_year %> Costume Assignments</h1>
  <% end %>
  <!-- if dancer has current costume assignments, render table -->
  <% if @assignments.exists? %>
    <%= render 'current_assignments_table' %>
  <% else %>
    <h2 class='subtitle'>No Assignments</h2>
  <% end %>
</div>