<div class='container is-fluid'>
  <h1 class='title has-text-primary'><%= current_user.studio_name %>'s Dancers</h1>
  <div class='table-container'>
    <table class='table is-fullwidth is-striped is-hoverable'>
      <thead class='has-text-weight-bold'>
        <td>Name</td>
        <td>Current Dancer?</td>
      </thead>
      <tbody>
        <% current_user.dancers.each do |dancer| %>
          <tr>
            <td><%= link_to dancer.name, dancer_costumes_path(dancer) %></td>
            <% if dancer.current_dancer %>
              <td>YES</td>
            <% else %>
              <td>NO</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>